.DS_Store
.cache
npm-debug.log
Thumbs.db
node_modules/
.build/
.vscode/extensions/**/out/
extensions/**/dist/
/out*/
/extensions/**/out/
build/node_modules
coverage/
test_data/
test-results/
test-results.xml
vscode.lsif
vscode.db
/.profile-oss
/cli/target
/cli/openssl
product.overrides.json
*.snap.actual
.vscode-test

# Extensions (git submodules)
extensions-extra/prettier-vscode/
extensions-extra/vscode-eslint/
extensions-extra/vscode-gitlens/
extensions-extra/vscode-python/
extensions-extra/vscode-python-debugger/
